ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}


    
   

ul a{
width: 200px;
height: 40px;
    background:#f7b600 url(../img/arquivos-necessarios-barra-navegacao-vertical/menu.png) no-repeat left bottom;
display: block;
text-decoration: none;
color: black;
text-indent: 40px;/*mover para o meio da linha horizontal*/
line-height: 40px;/*mover para o meio da linha na vertical*/


}
a:hover{
    background-position: right bottom;
    color: white;
    background-color: #f99200;
    
}