*{
    margin: 0;
    padding: 0;
}
body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background: url(imagens/fundo.png) repeat-x;


}
#principal{

width: 750px;
margin:0 auto;


}
#topo{
    
    height:150px ;
   
    background: url(imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
    
}
.logo{
    width: 152px;
    height: 66px;
    background: url(imagens/logo.png);
    text-indent: -3000px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;

}
#topo ul{
background: #b10333;
margin-top: 30px;
float: left;

}
#topo ul li{
float: left;


}
#topo ul a{
    font-size: 0.9em;
    display: block;
    padding: 0.2em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: #fff;
    background: url(imagens/divisor.png) no-repeat left center ;
}
#topo ul .home a{
    background: none;

}
#topo ul a:hover{
    color: #69001d;
}
#index .navegacao .home a,
#brasil .navegacao .brasil a,
#internacional .navegacao .internacional a,
#economia .navegacao .economia a,
#saude .navegacao .saude a,
#ciencia .navegacao .ciencia a,
#fotos .navegacao .fotos a
{
    background:#ee0748;
}

   
   
        






